@charset "UTF-8";
@media all and (min-width : 801px) {
    /* 상단 로고와 메뉴 스타일 START */
    header {
        height: 133px;
    }
    .header_area h1 {
        float: left; /* 로고 이미지를 가운데 -> 왼쪽으로 정렬 */
        padding: 15px 0px;
        padding-left: 20px;
        width: auto;
        height: inherit; /* 상속 받음 => 현재 영역의 부모의 높이를 그대로 사용함 */
        text-align: inherit;
    }
    .header_area h1 a {
        display: block;
        width: 100px;
        height: 80px;
        background-size: 70px 80px !important;
    }
    .openMOgnb {
        display: none; /* 모바일용 햄버거 메뉴 숨김 */
    }
    .header_cont {
        display: block;
        float:right;
        width: 60%;
        padding-right: 20px;
        background: none;
        margin-top: 0px;
    }
    .closePop { display: none; }
    .util { /* 메인 메뉴 상단에 소메뉴 : .util로 지음 */
        padding: 0px;
        text-align: right;
        padding-top: 10px;
    }
    .util li {
        float: none;
        display: inline;
    }
    .util li::after {
        color: #fff;
    }
    .util li a {
        font-size: 14px;
    }
    .gnb { /* 대메뉴 = 1차 메뉴 */
        float: right;
        padding-top: 5px;
        height: inherit;
        border-top: none;
    }
    .gnb li {
        width: auto;
        text-align: inherit;
        box-sizing: inherit;
        border-bottom: none;
    }
    .gnb li:nth-child(2n + 1) { /* 대메뉴 중간 막대 사라지게 하는 명령 */
        border: none;
    }
    .gnb li a {
        padding: 26px 25px;
        font-size: 18px;
        height: inherit;
        line-height: inherit;
        background: none;
    }
    .gnb li + li a {
        background: none;
    }
    .gnb li + li + li a {
        background: none;
    }
    .gnb li + li + li + li a {
        background: none;
    }
    .gnb li:last-child a { /* 제일 오른쪽 li tag 영역 */
        padding-right: 0px;
    }
    
    /* 상단 로고와 메뉴 스타일 END */
    /* 컨테이너 영역 START */
    #container {
        padding-bottom: 20px;
        width: auto;
        position: inherit; /* 부모 영역의 위치를 상속받습니다 */
    }
    /* 컨테이너 영역 END */
    /* 슬라이드 영역 START */
    ul.viewImgList li {
        height: 550px;
    }
    /* 슬라이드 영역 END */
    /* 최신 갤러리 START */
    .about_area h2 {
        padding: 55px 0 105px;
        font-size: 40px;
    }
    .about_area h2 b {
        display: inherit;
        padding-top: inherit;
    }
    .place_list {
        box-sizing: border-box;
        padding: 0 20px;
    }
    .place_list li:first-child {
        margin-left: 0;
    }
    .place_list li {
        float: left;
        width: 32%;
        margin-left: 2%;
        position: relative;
        top: -50px;
        padding: 0;
    }
    .place_list li p.txt {
        padding: 10px 30px 0;
        line-height: 1.8;
    }
    .place_list li .view {
        margin-top: 20px;
    }
    /* 최신 갤러리 END */
}
